svtools
.vscode
hmmer-3.4
trf409.linux64
out
RepeatMasker
__pycache__
*.pyc
*.pyo
dfam*
SVtoolkit*
!test/sample.fa
test/sample.fa.*
test/RM_seq
test/search_dfam
test/bench
htslib*
samtools*
bcftools*
test/out*
temp/
test/custom_vcf/
test/sniffles2.2.6.0/
VISOR*
test/visor_test
test/sim_ref
test/check_sv_flanks
test/1000ONT